{% extends 'base.html' %}
{% block title %}
    <title>Student Attendance System - Attendance</title>
{% endblock %}
{% block content %}
    <body>
        <section class="index">
            <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
                <div class="card" style="border-radius: 1rem;">
                    <form method="POST" action="/students/add" class="card-body p-5">
                        <h1 class="card-title mb-5 text-center">Attendance</h1>
                            <div class="mb-1">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        <div class="card-body text-center">
                            <p id="date" class="h5"></p>
                            <p id="time" class="h5"></p>
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <div class="form-floating form-outline">
                                        <select name="coursename" id="coursename floatingInput" class="form-control" placeholder="coursename">
                                            <option selected value="">Choose...</option>
                                            {% for course in courses %}
                                            <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label class="form-label" for="coursename floatingInput">Course</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-6 d-grid d-md-flex justify-content-md-center">
                                    <a href="{{ url_for('dashboard') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm">Return</button>
                                    </a>
                                </div>
                                <div class="col-6 d-grid d-md-flex justify-content-md-center">
                                    <a href="{{ url_for('attendance_scan') }}">
                                        <button type="submit" class="btn btn-outline-dark btn-sm">Attendance</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script>
            // Function to update the displayed datetime
            function updateDatetime() {
                var dateElement = document.getElementById('date');
                var timeElement = document.getElementById('time');
                
                var now = new Date();
                dateElement.textContent = now.toLocaleDateString();
                timeElement.textContent = now.toLocaleTimeString();
            }
    
            // Update the datetime immediately
            updateDatetime();
    
            // Update the datetime every second (1000 milliseconds)
            setInterval(updateDatetime, 1000);
        </script>
    </body>
{% endblock %}