{% extends 'base.html' %}
{% block title %}
    <title>Student Attendance System - Courses List</title>
{% endblock %}
{% block content %}
    <body>
        <section class="sign-in">
            <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
                <div class="col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                                <div class="d-grid d-md-flex justify-content-md-start">
                                    <a href="{{ url_for('dashboard') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-arrow-left-long"></i> Return</button>
                                    </a>
                                </div>
                            <h1 class="card-title mb-5 text-center">List of Courses</h1>
                            <div class="row">
                                <div class="d-grid d-md-flex justify-content-md-start mb-5">
                                    <a href="{{ url_for('courses_add') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-book-open"></i> Add Course</button>
                                    </a>
                                </div>
                                <div class="row">
                                    <table class="table" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Course Code
                                                </th>
                                                <th scope="col">
                                                    Course Name
                                                </th>
                                                <th scope="col">
                                                    Course Description
                                                </th>
                                                <th scope="col">
                                                    Course Units
                                                </th>
                                                <th scope="col">
                                                    Course Teacher
                                                </th>
                                                <th scope="col">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for course in courses %}
                                            <tr>
                                                <td scope="row">
                                                    {{ course.course_code }}
                                                </td>
                                                <td>
                                                    {{ course.course_name }}
                                                </td>
                                                <td>
                                                    {{ course.course_description }}
                                                </td>
                                                <td>
                                                    {{ course.course_units }}
                                                </td>
                                                <td>
                                                    {{ course.course_teacher }}
                                                </td>
                                                <td>
                                                    <a href="" class="btn btn-outline-info">
                                                        <i class="fa-solid fa-file-pen"></i> Update
                                                    </a>
                                                    <a href="" class="btn btn-outline-danger">
                                                        <i class="fa-solid fa-trash"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}