{% extends 'base.html' %}
{% block title %}
    <title>Student Attendance System - History</title>
{% endblock %}
{% block content %}
    <body>
        <section class="sign-in">
            <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
                <div class="col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                                <div class="d-grid d-md-flex justify-content-md-start">
                                    <a href="{{ url_for('dashboard') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-arrow-left-long"></i> Return</button>
                                    </a>
                                </div>
                            <h1 class="card-title mb-5 text-center">Attendance History</h1>
                            <div class="row">
                                <div class="row">
                                    <table class="table" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Student ID
                                                </th>
                                                <th scope="col">
                                                    Full Name
                                                </th>
                                                <th scope="col">
                                                    Program
                                                </th>
                                                <th scope="col">
                                                    Year Level
                                                </th>
                                                <th scope="col">
                                                    Course
                                                </th>
                                                <th scope="col">
                                                    Status
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for history in histories %}
                                            <tr>
                                                <td scope="row">
                                                    {{ history.studentid }}
                                                </td>
                                                <td>
                                                    {{ history.student_name }}
                                                </td>
                                                <td>
                                                    {{ history.program }}
                                                </td>
                                                <td>
                                                    {{ history.year }}
                                                </td>
                                                <td>
                                                    {{ history.course }}
                                                </td>
                                                <td>
                                                    {{ history.status }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}