{% extends 'base.html' %}
{% block title %}
    <title>Student Attendance System - Teacher List</title>
{% endblock %}
{% block content %}
    <body>
        <section class="sign-in">
            <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
                <div class="col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                                <div class="d-grid d-md-flex justify-content-md-start">
                                    <a href="{{ url_for('admin') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-arrow-left-long"></i> Return</button>
                                    </a>
                                </div>
                            <h1 class="card-title mb-5 text-center">List of Teachers</h1>
                            <div class="row">
                                <div class="d-grid d-md-flex justify-content-md-start mb-5">
                                    <a href="{{ url_for('addteacher') }}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-user-plus"></i> Add Teacher</button>
                                    </a>
                                </div>
                                <div class="row">
                                    <table class="table" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Full Name
                                                </th>
                                                <th scope="col">
                                                    Username
                                                </th>
                                                <th scope="col">
                                                    Date Added
                                                </th>
                                                <th scope="col">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for teacher in teachers %}
                                                {% if teacher.fullname != 'Admin' %}
                                                    <tr>
                                                        <td scope="row">
                                                            {{ teacher.fullname }}
                                                        </td>
                                                        <td>
                                                            {{ teacher.username }}
                                                        </td>
                                                        <td>
                                                            {{ teacher.date_added.strftime('%Y-%m-%d  %H:%M:%S') }}
                                                        </td>
                                                        <th>
                                                            <a href="/teachers/update/{{ teacher.id}}" class="btn btn-outline-info">
                                                                <i class="fa-solid fa-file-pen"></i> Update
                                                            </a>
                                                            <a href="/teachers/delete/{{ teacher.id}}" class="btn btn-outline-danger">
                                                                <i class="fa-solid fa-trash"></i> Delete
                                                            </a>
                                                        </th>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}